<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/output.css" />
  </head>
  <body>
    <h1 class="text-cyan-500">Welcome to Hand Detection Paint</h1>
    <p>Click the button below to join the paint canvas page:</p>
    <form action="/sketch">
      <button type="submit">Join Paint Canvas</button>
    </form>
  </body>
</html>
